body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #fff;
  font-family: pt-serif, helvetica, serif;
}

/* outer-container is here to horizontally center the elements within it. */

.outer-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-left: 5%;
  margin-right: 5%;
}

.titlebar {
  font-family: proxima-nova-soft, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #C73256;
  margin-left: 0.5em;

  flex: 1 1 auto;
}

.root {
  flex: 1 1 auto;
  width: 100%;
}

button {
  font-family: proxima-nova-soft, sans-serif;
  font-size: 24px;
  background-color: hsla(0, 0%, 25%, 0.4);
  border: 0px;
  margin: 8px 8px 8px 8px;
  color: #fff;
  border-radius: 6px;
  width: 300px;
}

ul {
  list-style-type: none;
  padding-left: 8px;
}

.invalid-field {
  border: 4px red dashed;
}

.disabled-button {
  color: hsla(0, 0%, 100%, 0.5);
}

.items-root {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  flex: 2 0 30%;
  min-width: 200px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 8px 8px 8px 8px;
  border-radius: 10px;
  margin: 4px;

  background-color: hsla(180, 60%, 99%, 0.9);
  transition: background-color 0.5s;
  color: hsla(120, 32%, 8%, 0.9);

}

.item .description {
  flex: 3 1 100%;
  order: 2;
  font-size: xx-large;
  font-family: proxima-nova-soft, sans-serif;  
}

.picture.image-loaded + .description {
  font-size: x-large;
  flex: 3 1 80%;
}

.item .cost {
  flex: 1 1 20%;
  order: 3;
  margin-left: auto;

  font-family: proxima-nova-soft, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: larger;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.picture.image-loaded + .cost {
  flex: 3 1 100%;
}

.item .picture {
  flex: 3 1 100%;
  order: 1;

  display: flex;
  justify-content: center;
}

/* When the width is below 480, split one 'row' between date and cost, then 
put description on the next row. */

@media all and (max-width: 480px) {
  .item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item > .picture .description, .cost {
    min-height: 24px;
  }

  .item .description {
    flex: 1 1 70%;
    margin-top: 10px;
  }

  .item .cost {
    flex: 1 1 30%;
  }

  .picture.image-loaded + .cost {
    flex: 1 1 30%;
  }

  .item .picture {
    flex: 1 1 100%;
  }

  .picture.image-loaded + .description {
    flex: 1 1 70%;
  }
}

.item.darker-stripe {
  background-color: hsla(200, 60%, 92%, 0.8);
}

.item.new {
  background-color: hsla(55, 100%, 60%, 1.0);
}

.compound #cost {
  flex: 3 0 auto;
}

.compound #currency {
  flex: 1 0 64px;
}



.drape {
  background-color: #222;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 0.8;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #fff;
  font-family: proxima-nova-soft, 'Helvetica Neue', sans-serif;
}

.drape h3 {
  font-size: 32px;
}

.drape .cancel-link {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2em;
  background-color: hsla(228, 49%, 83%, 0.4);
  padding: 0.25em;
  border-radius: 0.5em;
  padding-bottom: 0.6em;
  cursor: pointer;
}

.drape .spinner {
  fill: #fff;
  font-family: proxima-nova-soft, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 64px;
  text-anchor: middle;
}
