body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #fff;
  font-family: pt-serif, helvetica, serif;
}

/* outer-container is here to horizontally center the elements within it. */

.outer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.titlebar {
  font-family: proxima-nova-soft, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #C73256;
  margin-left: 0.5em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.root {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

button {
  font-family: proxima-nova-soft, sans-serif;
  font-size: 20px;
  background-color: hsla(0, 0%, 25%, 0.4);
  border: 0px;
  color: #fff;
  border-radius: 6px;
}

ul {
  list-style-type: none;
  padding-left: 8px;
}

.invalid-field {
  border: 4px red dashed;
}

.disabled-button {
  color: hsla(0, 0%, 100%, 0.5);
}

.items-root {
  padding-left: 0;
  /*display: -webkit-box;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.item {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 30%;
  -ms-flex: 2 0 30%;
  flex: 2 0 30%;
  min-width: 200px;
  /*display: -webkit-box;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
  margin: 4px;
  background-color: hsla(180, 60%, 99%, 0.9);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: hsla(120, 0%, 15%, 0.9);
}

.item .description {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 100%;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  font-size: xx-large;
  font-family: proxima-nova-soft, sans-serif;
  padding-top: 10px;
  padding-left: 4px;
}

.picture.image-loaded + .description {
  font-size: x-large;
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 80%;
  -ms-flex: 3 1 80%;
  flex: 3 1 80%;
}

.item .cost {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  margin-right: 4px;
  margin-bottom: 10px;
  font-family: proxima-nova-soft, 'Helvetica Neue', sans-serif;
  font-size: x-large;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.item .share {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 38%;
  -ms-flex: 1 0 38%;
  flex: 1 0 38%;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 36px;
  margin-right: 8px;
  background-color: hsla(204, 96%, 40%, 0.4);
}

.item .buy {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 36px;
  margin-left: 8px;
  background-color: hsla(204, 96%, 40%, 0.4);
}

.picture.image-loaded + .cost {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 100%;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
}

.item .picture {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 100%;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* When the width is below 480, split one 'row' between date and cost, then 
put description on the next row. */

@media all and (max-width: 480px) {
  .item {
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 100%;
    -ms-flex: 2 0 100%;
    flex: 2 0 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .item > .picture .description,
  .cost {
    min-height: 24px;
  }

  .item .description {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70%;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
    margin-top: 10px;
  }

  .item .cost {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
  }

  .picture.image-loaded + .cost {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
  }

  .item .picture {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .picture.image-loaded + .description {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70%;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
  }
}

.item.darker-stripe {
  background-color: hsla(200, 60%, 92%, 0.8);
}

.item.new {
  background-color: hsla(55, 100%, 60%, 1.0);
}

.compound #cost {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 auto;
  -ms-flex: 3 0 auto;
  flex: 3 0 auto;
}

.compound #currency {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 64px;
  -ms-flex: 1 0 64px;
  flex: 1 0 64px;
}

.thing {
  font-weight: bold;
  font-size: larger;
}



.quantity {
  font-style: italic;
}



.drape {
  background-color: hsla(0, 0%, 0%, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  font-family: proxima-nova-soft, 'Helvetica Neue', sans-serif;
}

.drape h3 {
  font-size: 32px;
}

.drape .cancel-link {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2em;
  background-color: hsla(228, 49%, 83%, 0.4);
  padding: 0.25em;
  border-radius: 0.5em;
  padding-bottom: 0.6em;
  cursor: pointer;
}

.drape .spinner {
  fill: #fff;
  font-family: proxima-nova-soft, 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 64px;
  text-anchor: middle;
}

.drape .item {
  background-color: hsla(106, 43%, 71%, 1);
  max-width: 500px;
  max-height: 480px;
}

.shadowed {
  -webkit-filter: url(#outer-shadow);
  filter: url(#outer-shadow);
}